* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Fredoka';
  overflow: hidden;
}

/* ====== CABEÇALHO ====== */
.conteinerCabeçalho {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #ddd;
}

.logo{
  width: 200px;
  height: auto;
}

.menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
}

.menu ul li a {
  text-decoration: none;
  color: #2e7d32;
  font-weight: bold;
  font-size: 25px;
  transition: color 0.3s ease;
}
/* ====== FIM CABEÇALHO ====== */

.conteinerPrincipal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffe4cc; 
}

.titulo {
  color: #f57c00;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* ====== CARDS ====== */
.cardsServicos {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.card {
  background-color: #fff6ea;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  margin:20px;
  height: auto;

}

.imgBanhoETosa {
  max-width: 250px;
  height: auto;
  margin-bottom: 15px;
}

.imgVeterinario {
  max-width: 380px;
  height: auto;
  margin-bottom: 15px;
}

.imgDayCare {
  max-width: 400px;
  height: auto;
  margin-bottom: 15px;
}
.tituloVerde {
  color: #2e7d32;
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 15px;
  color: #333;
  line-height: 1.4;
}

/* ====== FIM CARDS ====== */